openai
datasets
notebook
scikit-learn
faiss-cpu
sentence-transformers
dotenv
gradio
fastapi
uvicorn
qdrant-client
# langchain[openai]
# langchain-community
# langchain-core
# langchain_huggingface
# docling
